<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar Pokemon</title>
</head>
<body>

<table>
    <thead>
        <th>Pokemon</th>
        <th>Numero</th>
        <th>Imagen</th>
        <th>Detalle</th>
    </thead>
    <tr th:each="pokemon: ${resultado.resultados}">
        <td th:text="${pokemon.nombre}" />
        <td th:text="${pokemon.numero}" />
        <td>
            <img
                    th:src="@{${'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/' + pokemon.numero + '.svg'}}"
            width="200px" height="200px">
        </td>
        <td>
            <a th:href="@{${'/pokedex/detalle/' + pokemon.numero + '/'}}">
                <img src="/pokebola.png" width="50px" height="50px">
            </a>
        </td>
    </tr>
</table>

<p>
    <a th:if="${resultado.offsetPrevius != null}" th:href="@{${'/pokedex/listar/?limit=' + resultado.limit + '&offset=' + resultado.offsetPrevius}}">
        <img src="/previus.png" width="50px" height="50px">
    </a>
    <a th:if="${resultado.offsetNext != null}" th:href="@{${'/pokedex/listar/?limit=' + resultado.limit + '&offset=' + resultado.offsetNext}}">
        <img src="/next.png" width="50px" height="50px">
    </a>
</p>

</body>
</html>
